.head-back
{
	border-style: none;
	border-color: transparent;
	background: #1E2D59 url("../images/pixelpatterns2.png") repeat center center;
}

#u130-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 0.92;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u127:hover #u130-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u127:active #u130-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u173-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 0.92;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u127.MuseMenuActive #u130-4 p,#u171:hover #u173-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u171:active #u173-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u208-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 0.92;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u171.MuseMenuActive #u173-4 p,#u205:hover #u208-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u205:active #u208-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u244-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 0.92;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u127.MuseMenuActive #u130-4,#u171.MuseMenuActive #u173-4,#u205.MuseMenuActive #u208-4,#u241.MuseMenuActive #u244-4
{
	border-style: none;
	border-color: transparent;
}

#u205.MuseMenuActive #u208-4 p,#u241:hover #u244-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u241:active #u244-4 p
{
	color: #00A651;
	visibility: inherit;
}

#u241.MuseMenuActive #u244-4 p
{
	color: #00A651;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u83,#u70,#u69,#menuu92,#u124,#u127,#u168,#u171,#u204,#u205,#u238,#u241,#u303,#u922
{
	position: relative;
}

#u912
{
	border-style: none;
	border-color: transparent;
	background-color: #CC8808;
	position: relative;
}

#u916-5,#u915-6,#u913-4,#u914-6
{
	color: #FFFFFF;
	font-size: 11px;
	position: relative;
}

