@font-face
{
	src: url('../fonts/Cutive-Regular.ttf');
	font-family: cutive;
}
@font-face
{
	src: url('../fonts/Allerta-Regular.ttf');
	font-family: allerta;
}
@font-face
{
	src: url('../fonts/Kreon-Regular.ttf');
	font-family: kreon;
}
body
{	
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background: url('../images/body_bg.png') repeat;
}
.main
{
	width: 960px;
	margin: 0 auto;
	background: #BFEFFF;
}
header
{
	width: 960px;
	height: 120px;
	background: url('../images/header_bg.png') repeat center right;
}
#logo
{
	float: left;
	width: 120px;
	height: 120px;
	margin-left: 30px;
	padding: 0 10px;
	background: url('../images/logo.png') no-repeat center center #BFEFFF;
}
header nav
{
	float: right;
	margin-top: 95px;
}
header nav a
{
	color: #FFF;
	text-decoration: none;
	font-family: allerta, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0 25px;
}
header nav a:hover
{
	color: #00A651;
}
#active
{
	color: #00A651;
}
#edge_animate
{
	width: 960px;
	height: 200px;
	margin: 20px 0 10px;
	background: #BFEFFF;
}
#home_bg
{
	width: 960px;
	height: 755px;
	background: url('../images/home_bg.png') no-repeat;
}
#slider
{
	position: absolute;
	width: 832px;
	height: 334px;
	margin: 40px 0 0 62px;
	border: 2px solid #666;
}
#slider img
{
	width: 832px !important;
	height: 334px !important;
}

/* CSS for About Us */
.about_content
{
	font-family: cutive, sans-serif;
	text-align: justify;
	width: 880px;
	padding: 15px;
	margin: 50px auto 10px;
	background: #FFF;
}
.about_info
{
	width: 890px;
	height: 150px;
	margin-top: 50px;
}
#handshake
{
	float: left;
	width: 285px;
	height: 150px;
}
#handshake_info
{
	float: right;
	margin: 0;
	padding-right: 15px;
	width: 575px;
	height: 150px;
	font-size: 11px;
}
#abt_slider
{
	width: 910px;
	height: 90px;
	margin: 60px 0 70px -15px;
	background: #424242;
	overflow: hidden;
}
#slides ul
{
	list-style: none;
}
#h1
{
	color: #FFF;
	font-family: kreon, serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
#p
{
	color: #BFEFFF;
	font-family: allerta, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-top: -17px;
}
.about_content h1,h3
{
	font-weight: normal;
}
.about_content p
{
	font-size: 11px;
}
.gallery img
{
	width: 90px;
	height: 45px;
}

/* CSS for Service */
.service_container
{
	font-family: cutive, sans-serif;
	text-align: justify;
	width: 890px;
	padding: 10px;
	margin: 50px auto 10px;
	background: #FFF;
}
.service_container h1
{
	font-family: cutive, sans-serif;
	font-size: 32px;
	font-weight: normal;
}
.service_container h3
{
	font-family: cutive, sans-serif;
	font-size: 18px;
	font-weight: normal;
}
.service_container p
{
	font-family: cutive, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
#service_image
{
	height: 300px;
	padding-top: 30px;
}
#service_image img
{
	float: left;
	width: 130px;
	height: 85px;
	margin: 0 10px 10px 0;
}

/* CSS for Contact Us */
.contact_container
{
	font-family: cutive, sans-serif;
	text-align: justify;
	width: 890px;
	padding: 10px 10px 70px 10px;
	margin: 50px auto 10px;
	background: #FFF;
}
.contact_container h1
{
	font-family: cutive, sans-serif;
	font-size: 32px;
	font-weight: normal;
}
#map
{
	margin-left: -10px;
}
.contact
{
	float: left;
	width: 350px;
	margin-top: 30px;
	padding-left: 35px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}
.contact img
{
	float: left;
}
#contact_detail
{
	float: right;
	width: 310px;
}
.form
{
	float: right;
	width: 495px;
	margin-top: 30px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}
.form span
{
	color: #6B6B6B;
	margin-left: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 14px;
}
.form input[type="text"]
{
	width: 330px;
	padding: 5px;
	background: #F2F2F2;
	border: 1px solid #C4C4C4;
}
textarea
{
	width: 330px;
	padding: 5px;
	min-height: 74px;
	background: #F2F2F2;
	border: 1px solid #C4C4C4;
	resize: none;
}
.form input[type="submit"]
{
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #FFF;
	border: 1px solid #999;
}
.form input[type="submit"]:hover
{
	background: #F2F2F2;
}
.form input[type="submit"]:active
{
	background: #C4C4C4;
}

/* CSS for Footer */
#footer_bg
{
	width: 960px;
	height: 252px;
	background: url('../images/footer_bg.png') no-repeat;
}
footer
{
	color: #FFF;
	font-size: 11px;
	width: 940px;
	height: 20px;
	line-height: 16px;
	padding: 10px;
	margin-top: -10px;
	background: #CC8808;
}
footer a
{
	color: #FFF;
	text-decoration: none;
}
#info
{
	float: left;
	margin-top: -3px;
}
#contactno
{
	float: left;
	margin-top: -3px;
}
#allright
{
	float: right;
	margin-top: -18px;
}
#crafted
{
	float: right;
	margin-top: -20px;
}